/*************************************
    X
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  min-width: 380px
}
a {
  text-decoration: none;
  color: inherit;
}

/*************************************
    HEADER TOP
*/
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-weight: bold;
}
.header_top img {
  vertical-align: middle;
}
.header_top ul.menu_inline {
  list-style: none;
  text-align: right;
}
.header_top ul.menu_inline li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 8px;
}
.header_top ul.menu_inline.lang li:not(:last-child) {
  line-height: 100%;
  border-right: 1px solid black;
}
.header_top .hamburger {
  text-align: right;
  font-size: 4em;
}
.header_top .hamburger .fas {
  cursor:pointer;
}

/*************************************
    MENU OVERLAY
*/
.header_top .overlay {
  position: fixed;
  top: -100vh;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: white;
  transition: top 0.5s ease 0s;
}
.header_top .hamburger #btnControl {
  display: none;
}
.header_top .hamburger #btnControl + label .fa-times {
  display: none;
  line-height: 80px;
  margin: 2px 4px 0 0;
}
.header_top .hamburger #btnControl:checked + label .overlay {
  top: 80px;
}
.header_top .hamburger #btnControl:checked + label .fa-bars {
  display: none;
}
.header_top .hamburger #btnControl:checked + label .fa-times {
  display: block;
}
.header_top .overlay .ovarlay_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/*************************************
    JUMBOTRON
*/
.jumbotron {
  position: relative;
  height: 500px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 80px 0 40px;
}
.jumbotron .jumbo_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
.jumbotron .jumbo_content img {
  width: 26%;
}

/*************************************
    TWO BIKES
*/
.bike_box {
  text-align: center;
  padding: 70px 0 70px;
  background-color: #fafafa;
  margin: 0 15px 20px;
}
.bike_box img {
  width: 35%;
}

/*************************************
    JUMBOPHONE
*/
.jumbo_phone {
  height: 600px;
  background-image: url("../img/HelbizBanner.jpg");
  background-position: top left;
  background-size: 1400px;
  background-repeat: repeat-x;
}
.jumbo_phone_content {
  margin-top: 100px;
  width: 70%;
  margin: 0 auto;
}
.jumbo_phone .jumbo_phone_content img {
  margin-top: 100px;
  width: 100%;
}
.jumbo_phone .jumbo_phone_content .text {
  margin-top: 420px;
}

/*************************************
    JUMBOMOBILITY
*/
.jumbomobility {
  position: relative;
  height: 400px;
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  background-position: top left;
  background-size: 1170px;
  margin-bottom: 40px;
}
.jumbomobility .jumbomobility_content {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  width: 270px;
  color: white;
  text-align: center;
}
.jumbomobility .jumbomobility_content .subtitle {
  font-size: 1.6em;
  font-weight: 400;
}
.jumbomobility .jumbomobility_content .textlink {
  color: white;
}

/*************************************
    TWO BOXES
*/
.two_boxes {
  text-align: center;
  padding: 30px 0 0;
  height: 400px;
  color: white;
  margin-bottom: 40px;
}
.two_boxes.bg_1 {
  background-color: #354b69;
  background-image: url("../img/HelbiZAPP.png");
  background-position: 100% 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}
.two_boxes.bg_2 {
  background-image: url("../img/Cities-1500.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 15px;
}
.two_boxes .title {
  font-size: 2.6em;
}
.two_boxes .subtitle {
  font-size: 1.7em;
}
.two_boxes.bg_1 .textlink,
.two_boxes.bg_2 .textlink {
  color: white;
  font-weight: 400;
}

/*************************************
    MOSAIC
*/
.mosaic {
  position: relative;
  height: 400px;
  background-image: url("../img/Social-Banner.jpg");
  background-position: center;
  background-size: cover;
  margin-bottom: 40px;
}
.mosaic .mosaic_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: white;
  text-align: center;
  color: black;
  padding: 45px 120px;
}
.mosaic .mosaic_content .title {
  font-size: 2.6em;
  margin-bottom: 5px;
}
.mosaic .mosaic_content .social {
  font-size: 2.6em;
}
.mosaic .mosaic_content .social a:not(:last-child) {
  margin-right: 20px;
}

/*************************************
    FOOTER
*/
footer {
  padding: 100px 10px;
  color: white;
  background-color: black;
}
footer .foot1 .logo {
  font-size: 2.5em;
}
footer ul {
  list-style: none;
}
footer .foot1 ul li:not(:first-child) {
  font-size: 1.3em;
  padding: 8px 0;
  color: grey;
}
footer .foot1 ul li:first-child {
  font-size: 1.7em;
  font-weight: 500;
  padding: 10px 0;
}
footer .foot2 {
  line-height: 80px;
  border-top: 1px solid #212121;
  border-bottom: 1px solid #212121;
  margin: 20px 0;
}
footer .foot2 .social {
  color: white;
  font-size: 1.7em;
  font-weight: 500;
}
footer .foot2 .social a:not(:last-child) {
  margin-right: 15px;
}
footer .foot3 {
  text-align: center;
}
footer .foot3 img {
  width: 100px;
  border: 1px solid grey;
  border-radius: 5px;
}

/*************************************
    UNIVERSALS
*/

/* text */
.payoff {
  font-size: 4.5em;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 20px;
}
.sub-payoff {
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.title {
  font-size: 3.2em;
  font-weight: 500;
  margin-bottom: 20px;
}
.subtitle {
  display: block;
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 20px;
}
.textlink {
  display: block;
  font-size: 1.6em;
  color: blue;
  font-weight: 700;
  margin-bottom: 20px;
}

/* on/off */
.display_lg_none {
  display: none;
}
.display_lg_block {
  display: block;
}

/*************************************
    MEDIA QUERIES
*/

@media screen and (min-width: 769px) and (max-width: 1200px) {

  .jumbo_phone .jumbo_phone_content img {
    margin-top: 190px;
  }
  .two_boxes {
    height: 300px;
  }
  .payoff {
    font-size: 4em;
  }

  /* on/off */
  .display_md_none {
    display: none;
  }
  .display_md_block {
    display: block;
  }
}

@media screen and (max-width: 768px) {

  .jumbo_phone .jumbo_phone_content img {
    margin-top: 190px;
  }
  .jumbomobility .jumbomobility_content {
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .two_boxes.bg_1,
  .two_boxes.bg_2 {
    margin: 0 0 40px 0;
  }
  footer [class^="foot"] {
    text-align: center;
  }
  footer .foot1 {
    line-height: 12px;
  }
  footer .lowlinks {
    line-height: 25px;
  }
  .payoff {
    font-size: 2.5em;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.5em;
  }

  /* on/off */
  .display_xs_none {
    display: none;
  }
  .display_xs_block {
    display: block;
  }
}

/*************************************
    UTILITY
*/
.container_1000 {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;

  /* border: 1px solid red; */
}
