/*************************************
    X
*/
body {
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  min-width: 380px
}
a {
  text-decoration: none;
  color: inherit;
}

/*************************************
    HEADER TOP
*/
.header_top {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: white;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-weight: bold;
}
.header_top img {
  display: inline-block;
  vertical-align: middle;
}
.header_top ul.menu_inline {
  list-style: none;
  text-align: right;
}
.header_top ul.menu_inline li {
  display: inline-block;
  text-transform: uppercase;
  padding: 0 8px;
}
.header_top ul.menu_inline.lang li:not(:last-child) {
  line-height: 100%;
  border-right: 1px solid black;
}
.hamburger {
  text-align: right;
  font-size: 4em;
}

/*************************************
    JUMBOTRON
*/
.jumbotron {
  position: relative;
  height: 500px;
  background-image: url("../img/hero-bg.jpg");
  background-position: center;
  margin: 80px 0 40px;
}
.jumbotron .jumbo_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: white;
  text-align: center;
}
.jumbotron .jumbo_content img {
  width: 26%;
}

/*************************************
    TWO BIKES
*/
.bike_box {
  text-align: center;
  padding: 70px 0 70px;
  background-color: #fafafa;
  margin: 0 15px 20px;
  /* border: 1px solid red; */
}
.bike_box img {
  width: 35%;
}

/*************************************
    JUMBOPHONE
*/
.jumbophone {
  position: relative;
  height: 500px;
  /* border: 1px solid green; */
  margin-bottom: 150px;
}
.jumbophone .jumbophone_bg {
  width: 100%;
  height: 370px;
  background-image: url("../img/HelbizBanner.jpg");
  background-position: top left;
  background-size: 1400px;
  background-repeat: repeat-x;
}
.jumbophone .jumbophone_content {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  /* border: 1px solid black; */
  height: 100%;
}
.jumbophone .jumbophone_content img {
  width: 100%;
  max-width: 700px;
}
.jumbophone .jumbophone_content .textbox {
  position: relative;
  height: 500px;
}
.jumbophone .jumbophone_content .text {
  position: absolute;
  left: 0;
  bottom: 60px;
}

.col_lg_3, .col_lg_6 {
  /* border: 1px solid red; */
  /* height: 100%; */
}

/*************************************
    JUMBOMOBILITY
*/
.jumbomobility {
  position: relative;
  height: 400px;
  background-image: url("../img/ScooterHelbiz-2400.jpg");
  background-position: top left;
  background-size: 1170px;
  margin-bottom: 40px;
}
.jumbomobility .jumbomobility_content {
  position: absolute;
  top: 50%;
  right: 120px;
  transform: translateY(-50%);
  width: 270px;
  color: white;
  text-align: center;
}
.jumbomobility .jumbomobility_content .subtitle {
  font-size: 1.6em;
}
.jumbomobility .jumbomobility_content .textlink {
  color: white;
}

/*************************************
    TWO BOXES
*/
.two_boxes {
  text-align: center;
  padding: 30px 0 0;
  height: 400px;
  color: white;
}

.two_boxes.bg_1 {
  background-color: #354b69;
  background-image: url("../img/HelbiZAPP.png");
  background-position: 100% 150px;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-right: 15px;
}
.two_boxes.bg_2 {
  background-image: url("../img/Cities-1500.jpg");
  /* background-position: center; */
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 100%;
  margin-left: 15px;
}
.two_boxes.bg_1 .textlink,
.two_boxes.bg_2 .textlink {
  color: white;
}

/*************************************
    MOSAIC
*/


/*************************************
    OVERLAY
*/
.header_top .overbox .overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  height: 100vh;
  background-color: white;
}
.header_top .overbox:hover .overlay {
  /* display: block; */
}

/*************************************
    UNIVERSALS
*/

/* text */
.payoff {
  font-size: 4.5em;
  font-weight: 500;
  white-space: nowrap;
  margin-bottom: 20px;
}
.sub-payoff {
  display: block;
  font-size: 1.5em;
  margin-bottom: 20px;
}
.title {
  font-size: 3.2em;
  font-weight: 500;
  margin-bottom: 20px;
}
.subtitle {
  display: block;
  font-size: 2.2em;
  font-weight: 500;
  margin-bottom: 20px;
}
.textlink {
  display: block;
  font-size: 1.6em;
  color: blue;
  font-weight: 700;
  margin-bottom: 20px;
}

/* on/off */
.display_lg_none {
  display: none;
}
.display_lg_block {
  display: block;
}

/*************************************
    MEDIA QUERIES
*/

@media screen and (min-width: 769px) and (max-width: 1200px) {

  .jumbophone {
    margin-bottom: 600px;
  }
  .jumbophone .jumbophone_content {
    top: 200px;
  }
  .jumbomobility .jumbomobility_content {
    width: 200px;
  }
  .two_boxes {
    height: 300px;
  }
  .payoff {
    font-size: 4em;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.5em;
  }

  /* on/off */
  .display_md_none {
    display: none;
  }
  .display_md_block {
    display: block;
  }

}

@media screen and (max-width: 768px) {

  .jumbophone {
    margin-bottom: 300px;
  }
  .jumbophone .jumbophone_content {
    top: 200px;
  }
  .jumbomobility .jumbomobility_content {
    width: 200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  .two_boxes.bg_1,
  .two_boxes.bg_2 {
    margin: 0 0 40px 0;
  }

  .payoff {
    /* white-space: normal; */
    font-size: 2.5em;
  }
  .title {
    font-size: 2em;
  }
  .subtitle {
    font-size: 1.5em;
  }

  /* on/off */
  .display_xs_none {
    display: none;
  }
  .display_xs_block {
    display: block;
  }

}


/*************************************
    UTILITY
*/
.container_1000 {
  max-width: 1000px;
  height: 100%;
  margin: 0 auto;
  padding: 0 10px;

  /* border: 1px solid red; */
}
